
.frequentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnContainer{
    text-align: right;
    margin: 0 20px 10px 0;
    
    button {
        font-size: 17px;
    }
    .icon{
        font-size: 20px;
    }
}

tr{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
}